@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.btn {
  padding: 10px 30px;
  background-color: rgb(253, 110, 10);
  border: none;
  border-radius: 5px;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1030px;
  margin: 0 auto;
}

.nav-title {
  font-family: Open Sans;
  font-size: 42px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}

.nav-container li a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(46, 43, 43);
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-container ul li {
  list-style: none;
}
